/.metadata
/.metadata
/.metadata
/.metadata/.plugins
/.metadata/.plugins/org.eclipse.core.resources
.metadata/.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/STM2/Debug
/STM1/Debug
/2071\ Milestone/Debug
/Debug/Debug
Team_I_14_22000_1777870901.wav
*.png
*.wav
*.csv
*.log
